<div class="row align-items-center">
    <!-- Text Section -->
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
        </p>
        <p>
            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
        </p>
    </div>
    <!-- Image Section -->
    <div class="col-md-6">
        <img src="/img/foto1.jpg" class="img-fluid" alt="About Us Image">
    </div>
</div>
